<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>91Video</title>
    <style>
        body {background-color: #c7d6ce;}
        * {margin: 0;padding: 0;}
        ul {list-style: none;}
        ul li {display: block;border: 1px solid gray;padding: 4px;margin: 2px 4px 2px 4px;}
        a {text-decoration: none;border-radius: 2px;color: #4271ae;}
        .clear {clear: both;}
        .play {text-align: center;}
        .play video {object-fit:fill;margin-top: 10px;}
        .page {width: 100%;text-align: center;}
        .page li {display: inline-block;height: 20px;}
        .page li.active {background-color: #039BE5;color: white;}
        .page li.active a {color: white;}
        .list {float: left;width: 49%;padding: 2px 4px;}
        #video {width: 88%; height: auto;}
    </style>
</head>
<body>
<% if (data.mp4) { %>
<div class="play">
    <center><div id="video"></div></center>
    <h4><a href="/?id=<%=data.id-1%>">上一集</a> 【 <a href="<%=data.mp4%>" target="_blank"><%=data.title%></a> 】 <a href="/?id=<%=data.id+1%>">下一集</a></h4>
</div>
<script type="text/javascript" src="/ckplayer/ckplayer.min.js"></script>
<script type="text/javascript">
    new ckplayer({
        container: '#video',
        variable: 'player',
        autoplay: true,
        volume: 1,
        poster:'<%=data.jpg||''%>',
        video: '<%=data.mp4%>',
    });
</script>
<% } else if (data.rows) {
    let width = 11, pad = Math.floor(width / 2), start = 1, end = width, max = Math.ceil(data.count / rows);
    if (max <= width) {
        end = max;
    } else if (rows > width) {
        if (page > pad) {
            start += page - pad;
            end += page - pad;
            if (end > max) {
                end = max;
                start -= end - max;
            }
        }
    } else {end = rows;}
%>
<div class="clear"></div>
<ul class="page">
    <em>Page <%=page%> of <%=max%></em>
    <li><a href="/?page=<%=page > 1 ? page - 1 : 1%>">Previous</a></li>
    <% for (let i = start; i <= end; i++) { %>
    <li class="<%= page===i?'active':''%>"><a href="/?page=<%= i %>"><%= i %></a></li>
    <% } %>
    <li><a href="/?page=<%=page > 0 ? (page < end ? page + 1 : end) : 1%>">Next</a></li>
    <em>Count <%=rows%> of <%=data.count%></em>
</ul>
<div class="clear"></div>
<div class="list">
    <ul>
        <% for (let i = 0; i < Math.ceil(len / 2); i++) { let d = data.rows[i];%>
        <li><a href="/?id=<%=d.id%>" target="_blank"><%=d.title%></a></li>
        <% } %>
    </ul>
</div>
<div class="list">
    <ul>
        <% for (let i = Math.ceil(len / 2); i < len; i++) { let d = data.rows[i];%>
        <li><a href="/?id=<%=d.id%>" target="_blank"><%=d.title%></a></li>
        <% } %>
    </ul>
</div>
<div class="clear"></div>
<ul class="page">
    <em>Page <%=page%> of <%=max%></em>
    <li><a href="/?page=<%=page > 1 ? page - 1 : 1%>">Previous</a></li>
    <% for (let i = start; i <= end; i++) { %>
        <li class="<%= page===i?'active':''%>"><a href="/?page=<%= i %>"><%= i %></a></li>
    <% } %>
    <li><a href="/?page=<%=page > 0 ? (page < end ? page + 1 : end) : 1%>">Next</a></li>
    <em>Count <%=rows%> of <%=data.count%></em>
</ul>
<% } %>
</body>
</html>